.App {
  margin-left: 100px;
  display: inline-block;
  position: relative;
  color: #999;
  background: #222;
  user-select: none;
  padding: 8px;
  padding-left: 0;
  margin-top: 80px;
}


.Controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;

  background: #222;
  border-bottom: 1px solid #666;
}

.Controls-bpm {
  width: 3rem;
}

.Controls-space {
  margin-right: 1rem
}

.Workspace {
  outline: 0;
}
