.CrossFader {
  background: #333;
  cursor: crosshair;
  user-select: none;
  position: relative;
}
.CrossFader.is-disabled {
  opacity: .25;
}

.CrossFader-segment {
  position: absolute;
  bottom: 0;
  box-shadow: inset 2px 0 gold, inset -2px 2px 0 gold;
  border-bottom-width: 0;
  background-color: rgba(255, 255, 255, .15);
  height: 100%;
}

.CrossFader-segment:before {
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  height: 8px;
  width: 8px;
  background: gold;
  border-radius: 100%;
}

.CrossFader-segment.is-first { box-shadow: inset -2px 2px 0 gold; }
.CrossFader-segment.is-last { box-shadow: inset 2px 2px 0 gold; }
.CrossFader-segment.is-first.is-last { box-shadow: inset 0 2px 0 gold; }

.CrossFader-segment.is-off {
  background: transparent;
  box-shadow: inset 0 -2px 0 0 gold;
  height: 2px;
}
