.Grid {
  position: relative;
  display: flex;
  background: #333;
}

.Grid-point {
  position: absolute;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  margin-left: -4px;
  background-color: gold;
  border-radius: 100%;
  user-select: none;
  font-size: 0;
  text-align: center;
  cursor: move;
  z-index: 2;
}
.Grid-point:before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border-radius: 100%;
}
.Grid-point:hover:before {
  background: rgba(255, 255, 255, .1)
}

.Grid-segment {
  background: rgba(255, 255, 255, .15);
  height: 100%;
  position: relative;
}

.Grid-segmentLine {
  stroke-width: 2px;
  stroke: gold;
  z-index: 2;
}

.Grid-segmentGridLine {
  position: absolute;
  left: 100%;
  width: 1px;
  top: 0;
  bottom: 0;
  background: darkgrey;
  cursor: ew-resize;
}
.Grid-segmentGridLine:after {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: 0;
  bottom: 0;
}
.Grid-segmentGridLine:hover:after,
.Grid-segmentGridLine.is-dragging:after {
  background: rgba(255, 255, 255, .1)
}


.Grid-segmentLineDragHandle {
  cursor: ns-resize;
  stroke: transparent;
  stroke-width: 20px;
  stroke-linecap: round;
}

.Grid-segmentLineDragHandle:hover,
.Grid-segmentLineDragHandle.is-dragging {
  stroke: rgba(255, 255, 255, .1)
}

.Grid-startGridLine {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, .25);
  z-index: 1;
  pointer-events: none;
}

.Grid-resizeHandle {
  height: 8px;
  cursor: row-resize;
}
