html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    background: #000;
    overflow: auto;
    color: #999;
}

input {
  border: 1px solid #555;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 2px;
  padding: 5px 6px;
  background: #222;
  color: #999;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);

}

button {
  display: inline-block;
  padding: 5px 6px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #555;
  background: #777;
  outline: 0;
}

button:active {
  background: #666
}

input[type=range] {
  -webkit-appearance: none;
  margin: .25rem 0;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .25rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #333;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.5rem;
  width: .75rem;
  border-radius: 3px;
  background: gold;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.75rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #777;
}
