.Scratch {
  height: 200px;
  width: 200px;
  background: lightgrey;
  position: relative;
}

.Scratch-point {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  margin-bottom: -8px;
  margin-left: -8px;
  background-color: gold;
}

.Scratch-waveForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
