.ScratchControls {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100px;
  background: #222;
  z-index: 100;
  padding-top: 28px;
  padding-bottom: 68px;
  border-right: 1px solid #222;
}

.ScratchControls:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  pointer-events: none;
}
