.Timeline {
  height: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.Timeline-tick {
  box-shadow: inset 1px 0 0 #777;
  font-size: 10px;
  position: relative;
  height: 20px;
  flex-shrink: 0;
  background: dimgrey;
}

.Timeline-tick--primary {
  box-shadow: inset 1px 0 0 #999;
}

.Timeline-tick--secondary {
  box-shadow: inset 1px 0 0 #888;
}

.Timeline-tickLabel {
  position: absolute;
  line-height: 20px;
  left: 3px;
  z-index: 20;
  text-shadow: 0 -1px dimgrey, 0 1px dimgrey, 1px 0 dimgrey, -1px 0 dimgrey;
  color: #555;
}

.Timeline-tick--primary .Timeline-tickLabel {
  color: #111;
}

.Timeline-tick--secondary .Timeline-tickLabel {
  color: #444;
}
